:host {
  display: block;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &__body {
    flex: 1;
    display: flex;
    overflow: hidden;
    min-height: 0;
  }
}
