<div class="fighter-card__image" aria-hidden="true">
  @if (fighter().imageUrl && !imgError()) {
    <img class="fighter-card__img" [src]="fighter().imageUrl" [alt]="fighter().name" (error)="imgError.set(true)" />
  } @else {
    <div class="ph">
      <span class="ph__label">{{ fighter().name }}<br />portrait</span>
    </div>
  }
</div>
<div class="fighter-card__body">
  <div class="fighter-card__name">{{ fighter().name }}</div>
  <div class="fighter-card__subtitle">{{ fighter().title }}</div>
</div>
