@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&family=Share+Tech+Mono&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --accent: #00e5ff;
  --accent-glow: #00e5ff30;
  --accent-bg: #00e5ff0d;
  --density-pad: 14px;
  --card-min: 170px;
  --bg: #080808;
  --bg2: #0d0d0d;
  --bg3: #111111;
  --bg4: #161616;
  --border: #1e1e1e;
  --border2: #2a2a2a;
  --text: #e2e2e2;
  --muted: #555;
  --dim: #333;
  --font: 'Rajdhani', sans-serif;
  --mono: 'Share Tech Mono', monospace;
}

html,
body {
  height: 100%;
  background: var(--bg);
  color: var(--text);
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 2px;
}

.ph {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(-45deg, #111 0px, #111 4px, #141414 4px, #141414 8px);
  display: flex;
  align-items: center;
  justify-content: center;

  &__label {
    font-family: var(--mono);
    font-size: 9px;
    color: #2a2a2a;
    text-align: center;
    padding: 4px;
    line-height: 1.5;
    user-select: none;
    pointer-events: none;
  }
}
